{% extends "base.html" %}

{% block title %}Ask{% endblock %}

{% block content %}
<script type="text/javascript" src="/ask.js"></script>
<h2>New Question</h2>
<br>

<div id="new_question">
	<form name="myForm" onsubmit="return validateForm(this)">
		<div class="form-group">
	    	<label>Title</label>
	    	<input type="text" class="form-control" id="inputTitle" placeholder="Briefly about the question">
	    	<div id="message_inputTitle"></div>
	  	</div>

	  	<div class="form-group">
	    	<label>Text</label>
	    	<textarea class="form-control" rows="3" id="inputText" placeholder="Details here"></textarea>
	    	<div id="message_inputText"></div>
	  	</div>

	  	<div class="form-group">
	    	<label>Tags</label>
	    	<input type="text" class="form-control" placeholder="Quickly find">
	  	</div>

	  	<br>
	  	<button type="submit" class="btn btn-success" id="">Ask</button>

	</form>
</div>


{% endblock %}


{% block user_field %}
{{ block.super }}
{% endblock %}
