{% extends "base.html" %}

{% block title %}Ask{% endblock %}

{% block content %}
<script type="text/javascript" src="/ask.js"></script>
<h2>New Question</h2>
<br>

<div id="new_question">
<!-- 		{% if message %}
		    <div class="alert alert-danger error__block" role="alert" style="padding: 5px;">
		        <h5>{{ message.message | safe }}</h5>
		    </div>
		{% endif %}
 -->
		<form action="{% url 'ask' %}" method="post" enctype="multipart/form-data">
		    {% csrf_token %}
			{% for field in form %}
			    <div class="fieldWrapper">
			        <div class="form-group">
			        	{{ field.label_tag }} 
			        	{{ field }}
			        	{% if field.errors %}
						    <div class="alert alert-danger error__block" role="alert" style="padding: 0px;">
						        <h5>{{ field.errors }}</h5>
						    </div>
						{% endif %}
			        </div>
			    </div>
			{% endfor %}
			
			<br>
			<button type="submit" class="btn btn-success">Ask</button>
  
		</form>	
</div>


{% endblock %}


{% block user_field %}
{{ block.super }}
{% endblock %}
