<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}base{% endblock %}</title>
	<!-- Bootstrap -->
	<link href="/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<link href="/base.css" rel="stylesheet">
	</head>
	<body>
	<script src="/jquery-latest.js"></script>
	<script src="/bootstrap-3.3.4/js/bootstrap.min.js"></script>

  <div class="container">

    <nav class="navbar navbar-default navbar-fixed-top">
      <!-- container-fluid -->
      <div class="container-fluid">
        {# <a class="navbar-brand" href="/"><samp>ask-konyshev</samp> #}
        <a class="navbar-brand" href="/">ask-konyshev
          <p style="font-size: 10px;font-family: Times;">our stack is not overflow..</p></a>

        <div class="row-fluid">
          <div class="col-sm-7">
            <!-- search field -->
            <div class="col-sm-10" id="search_field">
              <div class="row">
                  <form>
                    <div class="form-group" >
                      <input type="text" class="form-control search_field_class" placeholder="Search is all you need">
                    </div>
                  </form>
              </div>
            </div>
            <!-- /search field -->


            <!-- ask button -->
            <div class="col-sm-2 text-center" id="ask_btn">
              <a href="/ask">
                <button type="submit" class="btn btn-success" style="background-color: #0F8933;border-color: ;">
                Ask</button>
              </a>
            </div>
            <!-- /ask button -->
          </div>



<!-- <div class="row">
  <div class="col-md-4">
    <a href="#">
          <img src="/uploads/profile_photo.jpeg" alt="profile_photo" class="img-circle profile_photo">
    </a>
  </div>

  <div class="col-md-8">
    <h5>Pixel.Cookies.Rainbow.</h5>
    <div class="row">
      <div class="col-sm-6">
        <a href="#" style="color: white;">Settings</a>
      </div>
      <div class="col-sm-6">
        <a href="/" style="color: white;">Log Out</a>
      </div>
    </div>
  </div>
</div> -->

          <!-- user field -->
          <div class="col-sm-3" id="user_field">
            {% block user_field %}
            {% if user.is_authenticated %}
              <div class="row">
                <div class="col-md-4">
                  <a href="/profile/{{ user.username }}">
                        <img src="/uploads/{{ user.profile.filename }}" alt="profile_photo" class="img-circle profile_photo">
                  </a>
                </div>

                <div class="col-md-8">
                  <h5><a href="/profile/{{ user.username }}" style="color:aqua; text-decoration: none; background-color: none; color: white">
                    @{{ user.username }}
                  </a></h5>

                  <div class="row">
                    <div class="col-sm-6">
                      <a href="/settings" style="color: white;">Settings</a>
                    </div>
                    <div class="col-sm-6">
                      <a href="/logout" style="color: white;">Log Out</a>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
              <div class="row">
              <div class="col-md-5">
                <!-- empty -->
              </div>

              <div class="col-md-7">
                <div class="row">

                 <a href="/login">
                   <button type="button" class="btn btn-link" style="color: white;">
                    <h4>
                      Login
                    </h4>
                   </button>
                 </a>

                  <a href="/signup">
                   <button type="button" class="btn btn-link" style="color: white;">
                    <h4>
                      Sign Up
                    </h4>
                   </button>
                 </a>
                </div>
              </div>
            </div>
            {% endif %}


           
            {% endblock %}
          </div>
          <!-- /user field -->
        </div>
      </div>
      <!-- /container-fluid -->
    </nav>



    
    <div class="container">
      <div class="row">

        <!-- content -->
        <div class="col-md-8" id="content">
          {% block content_header %}{% endblock %}
          {% block content %}Hello from base.html{% endblock %}
        </div>
        <!-- /content -->

        {% block right_block %}
        <!-- column -->
        <div class="col-md-4" id="column">
          
          <div class="Popular-Tags">
            <h3>Tags</h3>
            {% for i in '1234567' %}
              <a href="/tag/tag{{ i }}">tag{{ i }}</a>
            {% endfor %}
            
           
          </div>

          <hr> <!-- mimi line -->

          <div class="Members">
            <h3>Members</h3>
            <ul>
              <il><p><a href="/profile/sasha1003">sasha1003</a></p>
              <il><p><a href="/profile/user1">user1</a></p>
              <il><p><a href="/profile/user7">user7</a></p>  
            </ul>
          </div>

          <div class="Popular">
            <h3><a href="/popular/"><span class="label label-danger">Popular</span></a></h3>
          </div>

       </div>
       <!-- /column -->
       {% endblock %}

      </div>

      <hr> <!-- mimi line -->   
    </div> <!-- /container -->

    

	  </div>



		



	

	</body>
</html>

