{% extends "base.html" %}

{% block title %}ask-konyshev{% endblock %}


{% block content_header %}
<h3>Top Questions</h3>
{% endblock %}

{% block content %}
<!-- brand-color line -->
<div class="progress">
  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 100%; background-color: #3A5795;">
    <span class="sr-only">100% Complete</span>
  </div>
</div>
<!-- /brand-color line -->

	<ul class="list-unstyled">
	{% for question in question_list %}
	<li>
		<div class="row question">
			<!-- left question column -->
			<div class="col-md-2" style="text-align: center;">
				<a href="#">
			      <img src="/uploads/{{ question.author.filename }}" alt="avatar" class="img-circle avatar">
			    </a>
			    <h5 class="question_username"><small>@{{ question.author.user.username }}</small></h5>
			    <h4 class="votes">{{ question.rating }}</h4>
			    <div style="text-align: center;">
			    	<a href="#" class="glyphicon glyphicon-arrow-up"></a>
				    <a href="#" class="glyphicon glyphicon-arrow-down"></a>
			    </div>
			</div>
			<!-- /left question column -->
			
			<!-- right question column -->
			<div class="col-md-10">
				<a href="/question/{{ question.id }}" class="header_question" style="color: #3B5998;"><h4>{{ question.title }}</h4></a>
				<div class="text_question">
				{{ question.text }}
				<br><br>
				</div>
				<div class="row">
				<div class="col-md-3">
					<a href="#">Comments <span class="badge">{{ question.answers.count }}</span></a> 
					
				</div>
				<div class="col-md-9">
					{% if question.tags.count %}
						Tags:
						{% for tag in question.tags.all %}
							<a href="/tag/{{ tag.name }}">{{ tag.name }} </a>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			</div>
			<!-- /right question column -->
		</div>

		<br>
		<!-- #F2F2F2 line -->
		<div class="progress">
		  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="background-color: #F2F2F2;width: 100%;">
		    <span class="sr-only">100% Complete</span>
		  </div>
		</div>
		<!-- /#F2F2F2 line -->
	</li>
	{% endfor %}



<!-- pagination -->
<nav>
	<div style="text-align: center;">
	  <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</div>
</nav>

<!-- /pagination -->

{% endblock %}

{% block user_field %}
{{ block.super }}
{% endblock %}

