{% extends "base.html" %}

{% block title %}question{% endblock %}

{% block content %}
<br>

<div class="row">
	<div class="col-md-3" style="text-align: center;"	>
		<a href="#">
	      <img src="/uploads/{{ question.author.filename }}" alt="avatar" class="img-circle avatar" 
	      style="margin-top: 25px; 
	      width: 90px; 
	      height: 90px;">
	    </a>
	    <h4 class="question_username"><small>@{{ question.author.user.username }}</small></h4>
	    <h4 class="votes">{{ question.rating }}</h4>
	    <div style="text-align: center;">
	    	<a href="#" class="glyphicon glyphicon-arrow-up"></a>
		    <a href="#" class="glyphicon glyphicon-arrow-down"></a>
	    </div>
	</div>

	<div class="col-md-9">
		<!-- title -->
		<h2>
			{{ question.title }}
		</h2>
		<!-- /title -->

		<!-- text -->
		<div class="text_question">
			{{ question.text }}
		</div>
		<!-- /text -->

		<!-- tags -->
		<div class="row">
			<div class="col-md-12 tags_question">
				<br>
				<br>
				{% if question.tags.count %}
					Tags:
					{% for tag in question.tags.all %}
						<a href="/tag/{{ tag.name }}">{{ tag.name }} </a>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<!-- /tags -->
	</div>

	
</div>

<p style="text-align: right;margin-top: 20px;">{{ question.answer_set.count }} Answers </p>

<!-- mimi line -->
<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 100%; background-color: #3A5795;">
    <span class="sr-only">100% Complete</span>
  </div>
</div>
<!-- /mimi line -->




<!-- answers -->
	<ul class="list-unstyled">
	{% for answer in answer_list %}
	<li>
		<div class="row answer">
			<!-- left answer column -->
			<div class="col-md-2" style="text-align: center;">
				<a href="#">
			      <img src="/uploads/{{ answer.author.filename }}" alt="avatar" class="img-circle avatar">
			    </a>
			    <h5 class="question_username"><small>@{{ answer.author.user.username }}</small></h5>
			    <h4 class="votes">{{ answer.rating }}</h4>
			    <div style="text-align: center;">
			    	<a href="#" class="glyphicon glyphicon-arrow-up"></a>
				    <a href="#" class="glyphicon glyphicon-arrow-down"></a>
			    </div>
			</div>
			<!-- /left answer column -->
			
			<!-- right answer column -->
			<div class="col-md-10">
				<div class="text_answer">
					{{ answer.text }}
				</div>

				<br>
				<button type="button" class="btn btn-success btn-xs btn-lg correct_answer">
				 	<span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span> Correct
				</button>
			</div>
			<!-- /right answer column -->

		</div>

	</li>
	<br>
	<div class="progress">
	  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 100%; background-color: #F2F2F2;">
	    <span class="sr-only">100% Complete</span>
	  </div>
	</div>
	{% endfor %}

	<!-- paginator -->
	<div style="text-align: right; margin-top: -20px">
		<div class="pagination">
		    <span class="step-links">
		        {% if answer_list.has_previous %}
		            <a href="?page={{ answer_list.previous_page_number }}">previous</a>
		        {% endif %}

		        <span class="current">
		            Page {{ answer_list.number }} of {{ answer_list.paginator.num_pages }}
		        </span>

		        {% if answer_list.has_next %}
		            <a href="?page={{ answer_list.next_page_number }}">next</a>
		        {% endif %}
		    </span>
		</div>
	</div>
	<!-- /paginator -->


<!-- /answers -->

<br>

<!-- add answer -->
<div class="row new_answer">
	<textarea class="form-control" rows="3" placeholder="Enter your answer"></textarea>
	<br>
	<button type="button" class="btn btn-success">Success</button>
</div>

<!-- /add answer -->



{% endblock %}


{% block user_field %}
{{ block.super }}
{% endblock %}
