{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}

<h2>Edit profile</h2>
<br>

<!-- {% if message_profile %}
    <div class="alert alert-danger error__block" role="alert" style="padding: 5px;">
        <h5>{{ message_profile.message }}</h5>
    </div>
{% endif %} -->

<form action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
	{% for field in form_edit %}
	    <div class="fieldWrapper">
	        <div class="form-group">
	        	{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
				    <div class="alert alert-danger error__block" role="alert" style="padding: 0px;">
				        <h5>{{ field.errors }}</h5>
				    </div>
				{% endif %}
	        </div>
	    </div>
	{% endfor %}
	
    <input type="submit" class="btn btn-default" value="Done!" />
</form>



<br>
<br>
<h3>Change password</h3>
<br>

<form action="{% url 'change_password' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
	{% for field in form_password %}
	    <div class="fieldWrapper">
	        <div class="form-group">
	        	{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
				    <div class="alert alert-danger error__block" role="alert" style="padding: 0px;">
				        <h5>{{ field.errors }}</h5>
				    </div>
				{% endif %}
	        </div>
	    </div>
	{% endfor %}
	
    <input type="submit" class="btn btn-default" value="Done!" />
</form>



<br>
<br>
<h3>Profile photo</h3>
<br>


{% if message_pic %}
    <div class="alert alert-danger error__block" role="alert" style="padding: 5px;">
        <h5>{{ message_pic.message }}</h5>
    </div>
{% endif %}



<form action="{% url 'edit_photo' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
	{% for field in form_photo %}
	    <div class="fieldWrapper">
	        <div class="form-group">
	        	{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
				    <div class="alert alert-danger error__block" role="alert" style="padding: 0px;">
				        <h5>{{ field.errors }}</h5>
				    </div>
				{% endif %}
	        </div>
	    </div>
	{% endfor %}
	
    <input type="submit" class="btn btn-default" value="Done!" />
</form>

{% endblock %}


{% block user_field %}
{{ block.super }}
{% endblock %}