{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<script type="text/javascript" src="/signup.js"></script>
<h2>Join to community</h2>

	<div id="signup_data">
		<!-- 
			<div class="form-group">
				<label for="inputUsername">Username</label>
				<div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">@</span>
				  <input type="text" class="form-control" id="inputUsername" maxlength="20" placeholder="Be unique" aria-describedby="basic-addon1">
				</div>
				<div id="message_inputUsername"></div>
			</div>
		-->

	
	<form action="{% url 'signup' %}" method="post" enctype="multipart/form-data">
	    {% csrf_token %}
		{% for field in form %}
		    <div class="fieldWrapper">
		        <div class="form-group">
		        	{{ field.label_tag }} 

		        	{{ field }}
		        	{% if field.errors %}
					    <div class="alert alert-danger error__block" role="alert" style="padding: 0px;">
					        <h5>{{ field.errors }}</h5>
					    </div>
					{% endif %}
		        </div>
		    </div>
		{% endfor %}
		
		<p class="help-block">Just one click.</p>
	    <input type="submit" class="btn btn-default" value="Submit" />
	</form>
	</div>

{% endblock %}


{% block user_field %}
{{ block.super }}
{% endblock %}
