{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<script type="text/javascript" src="/signup.js"></script>
<h2>Join to community</h2>

	<div id="signup_data">
		<!-- <form name="myForm" onsubmit="return validateForm(this)">
			<div class="form-group">
		    	<label for="inputName">Name</label>
		    	<input type="text" class="form-control" id="inputName" maxlength="40" placeholder="Full name" aria-describedby="basic-addon1">
		    	 <div id="message_inputName"></div>
		  	</div>

			<div class="form-group">
				<label for="inputEmail">Email</label>
				<input type="text" class="form-control" id="inputEmail" placeholder="Keep in touch">
				<div id="message_inputEmail"></div>
			</div>

			<div class="form-group">
				<label for="inputPassword">Password</label>
				<input type="password" class="form-control" id="inputPassword" placeholder="12345">
				<div id="message_inputPassword"></div>
			</div>

			<div class="form-group">
				<label for="inputUsername">Username</label>
				<div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">@</span>
				  <input type="text" class="form-control" id="inputUsername" maxlength="20" placeholder="Be unique" aria-describedby="basic-addon1">
				</div>
				<div id="message_inputUsername"></div>
			</div>

			<div class="form-group">
				<label for="exampleInputFile">File input</label>
				<input type="file" id="inputFile">
			</div>

			<p class="help-block">Just one click.</p>
			<button type="submit" onclick="validateForm()" class="btn btn-default" id="">Submit</button>

		</form> -->

	{% if message %}
	    <div class="alert alert-danger error__block" role="alert" style="padding: 5px;">
	        <h5>{{ message.message }}</h5>
	    </div>
	{% endif %}

	<form action="{% url 'signup' %}" method="post" enctype="multipart/form-data">
	    {% csrf_token %}
		{% for field in form %}
		    <div class="fieldWrapper">
		        <div class="form-group">
		        	{{ field.label_tag }} 
		        	{{ field }}
		        </div>
		    </div>
		{% endfor %}
		
		<p class="help-block">Just one click.</p>
	    <input type="submit" class="btn btn-default" value="Submit" />
	</form>


		
	</div>

{% endblock %}


{% block user_field %}
{{ block.super }}
{% endblock %}
